MobileAppUI/.vs/MobileAppUI/DesignTimeBuild/.dtbcache
MobileAppUI/.vs/MobileAppUI/v15/Server/sqlite3/db.lock
MobileAppUI/.vs/MobileAppUI/v15/Server/sqlite3/storage.ide
MobileAppUI/.vs/MobileAppUI/v15/Server/sqlite3/storage.ide-wal
MobileAppUI/.vs/MobileAppUI/v15/Server/sqlite3/storage.ide-shm
MobileAppUI/MobileAppUI/MobileAppUI.Android/obj/
MobileAppUI/MobileAppUI/MobileAppUI.iOS/obj/
MobileAppUI/MobileAppUI/MobileAppUI.UWP/obj/
MobileAppUI/MobileAppUI/MobileAppUI/obj/
